body {
	font-family: 'Lato', sans-serif;
}
.flexIt {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.houses {
	margin: 10px;
}
.emphasis {
	font-weight: bold;
	padding: 10px; 
	background-color: lightblue;
	border: 3px solid goldenrod;
	border-radius: 12%;
}
.characters {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.snitch {
	display: none;
}